@charset "UTF-8";
/*
texti sem ├®g nota
font-family: 'Playfair Display', serif;
*/
/* gera bACKROUND steingr├íann*/
/*
	================================
			Fonts EARTH
	================================
*/
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?15akik");
  src: url("../fonts/icomoon.eot?15akik#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?15akik") format("truetype"), url("../fonts/icomoon.woff?15akik") format("woff"), url("../fonts/icomoon.svg?15akik#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-earth:before {
  content: "\e9ca"; }

body {
  /*max-width: 60em; /*960px*/
  margin: 0 auto;
  /*border: green solid 5px;*/
  background: linear-gradient(to top left, red, black); }

.liturbody2 {
  background: linear-gradient(#00FF1E, blue);
  /* Standard syntax */ }

.textiPlayfairborder {
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  text-align: center;
  /*border: blue solid 6px;*/
  /*background-color: #00FF1E;*/ }

.textiPlayfair {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  /*background-color: blue;*/ }

/*
	================================
			HEADER OG FOOTER
	================================
*/
/*----------Menu-----------*/
header {
  /*border: green solid 2px;*/
  position: fixed;
  width: 100vw; }

header label {
  width: 100%;
  display: inline-block;
  text-align: right;
  /*color: black;*/
  background-color: #00087A;
  color: #00087A;
  font-size: 20px;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px; }

header label:hover {
  color: #00087A; }

header li {
  border-top: 1px solid black;
  margin-top: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #00087A; }

header a {
  text-decoration: none;
  display: inline-block; }

header li a {
  color: red; }

header li:hover {
  background-color: black; }

header li a:hover {
  color: white; }

header input {
  display: none; }

header input:checked ~ ul {
  max-height: 600px; }

header ul {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 800ms;
  cursor: pointer; }

/*
	================================
		myndir fyrir 48em
	================================
*/
.rammi1-2 {
  width: 50%;
  padding: 0;
  float: left;
  box-sizing: border-box;
  display: block;
  margin: 0; }

.rammi2-2 {
  max-width: 64em;
  padding: 0;
  box-sizing: border-box;
  display: block;
  margin: 0 auto; }

.rammi2-2top {
  max-width: 64em;
  padding: 0;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding-top: 3em; }

.rammiundirsida {
  width: 50%;
  padding: 0;
  float: left;
  box-sizing: border-box;
  display: block;
  margin: 0; }

/*
	================================
	Myndir
	================================

#berjamo {
	background-image: url(vsh Myndir lokaverkfni/berjamo.png);
}
*/
/*
	================================
		Header og footer eftir 48em
	================================
*/
@media screen and (min-width: 48em) {
  header ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    max-height: 600px;
    color: #00087A;
    /*background-color: #75797F;*/
    cursor: pointer; }

  header li {
    display: inline-block; }

  header a {
    color: white;
    padding: 10px 100px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    background-color: #00087A;
    font-size: 18px; }

  header li a:hover {
    background: yellow;
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.3); }

  header label {
    display: none;
    width: 100%; }

  .row {
    display: flex;
    flex-flow: row;
    position: fixed;
    width: 100vw; }

  .I-I {
    flex: 1 1 0; }

  .row a {
    border: 1px solid Black;
    border-width: 0 1px 1px 0;
    background: #00087A;
    color: red;
    text-align: center;
    padding: .3em;
    cursor: pointer;
    display: block; }

  .row a:hover {
    border: 1px solid Black;
    border-width: 0 1px 1px 0;
    background: red;
    color: #00087A;
    text-align: center;
    padding: .3em; }

  /* mobile = 0 to 37.5em */
  .row {
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 100vw; } }
/*
  ========================================
  Social buttons - M0bile
  ========================================
*/
.sMedia {
  display: flex;
  position: relative;
  background-color: none;
  order: 5; }

.sMedia a {
  text-decoration: none; }

.sMedia div {
  display: block;
  text-decoration: none; }

.menu-gj:before,
.icon-gj:before {
  content: "\e900"; }

.menu-facebook:before,
.icon-facebook:before {
  content: "\ea90"; }

.menu-github:before,
.icon-github:before {
  content: "\eab0"; }

.menu-soundcloud:before,
.icon-soundcloud:before {
  content: "\eac4"; }

.logo-gj:before {
  content: "\e900"; }

.logo-gj {
  color: #0070b0;
  font-size: 4em;
  transition: all 1s ease; }

.logo-gj:hover {
  color: #f00;
  transition: all 1s ease; }

.text-gj:before {
  content: "\e900"; }

.icon-gj,
.icon-github,
.icon-facebook,
.icon-soundcloud {
  color: #fff;
  font-size: 1.8em;
  margin-top: .3em; }

.text-gj {
  font-size: .8em; }

/*************logo******************/
.logo {
  margin: 0 0 .5em 2em; }

/***********Social******************/
.gjg {
  position: relative;
  height: 3em;
  width: 3em;
  padding: .6em 0 0 .6em;
  background: #1691be;
  transition: all 1s ease; }

.facebook {
  position: relative;
  height: 3em;
  width: 3em;
  padding: .6em 0 0 .6em;
  background: #166ba2;
  transition: all 1s ease; }

.github {
  position: relative;
  height: 3em;
  width: 3em;
  padding: .6em 0 0 .6em;
  background: #e9931a;
  transition: all 1s ease; }

.soundcloud {
  position: relative;
  height: 3em;
  width: 3em;
  padding: .6em 0 0 .6em;
  background: #f45136;
  transition: all 1s ease; }

/*background: litur(1) + mynd(2) + staÔö£Ôûæsetning X-Y(3) + fixed/scroll(4) + repeat(5) */
/**************** hover effects ******************/
.gjg:hover {
  background: #97daf2;
  transition: all 1s ease;
  width: 4em; }

.facebook:hover {
  background: #5bd200;
  transition: all 1s ease;
  width: 4em; }

.github:hover {
  background: #ff4b16;
  transition: all 1s ease;
  width: 4em; }

.soundcloud:hover {
  background: #fd1e00;
  transition: all 1s ease;
  width: 4em; }

/* extra - https://css-tricks.com/centering-in-the-unknown/ */
.auglysing {
  display: flex;
  width: 100%;
  height: 10em;
  margin-top: 1em;
  background-color: #eee;
  border-radius: .4em; }

.innihald {
  vertical-align: middle;
  text-align: center; }

.txtRight {
  display: none; }

.buttmenu {
  display: none; }

@media screen and (min-width: 55em) {
  /*  ========================================
    Social buttons
    ========================================*/
  .sMedia {
    display: block;
    position: fixed;
    top: 4em;
    left: 0;
    height: 12em;
    width: 3em; }

  .sMedia div {
    width: 3em;
    margin: 0;
    padding: .5em 0 0 0; } }
/*
  ========================================
  Slideshow
  ========================================
ef ├®g l├ªt fleirri myndir ver├░ ├®g a├░ h├ªkka um 100%
fyrir hverja mynd t.d ".inner" width: 300%;
├¥yrfti a├░ h├ªkka ├¥etta ├¡ 400% ef ├®g ├ªtla a├░ hafa
4 myndir en er bara me├░ 3 svo ├®g hef ├¥etta ├¡ 300%.
├¥a├░ er 100% width fyrir hverja mynd*/
@keyframes slideshow {
  0% {
    margin-left: 0%; }
  10% {
    margin-left: -100%; }
  20% {
    margin-left: -100%; }
  30% {
    margin-left: -200%; }
  40% {
    margin-left: -200%; }
  50% {
    margin-left: -300%; }
  60% {
    margin-left: -300%; }
  70% {
    margin-left: -200%; }
  80% {
    margin-left: -200%; }
  90% {
    margin-left: -100%; }
  95% {
    margin-left: -100%; }
  100% {
    margin-left: 0%; } }
.slider {
  overflow: hidden;
  width: 100%;
  height: 100%; }

.inner {
  animation-name: slideshow;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  width: 400%; }

article {
  /*width: 33.333%;*/
  width: 25.000%;
  float: left; }

img {
  width: 100%; }

label {
  width: 100%;
  display: block;
  cursor: pointer; }

input:checked + label .inner {
  animation-play-state: paused; }

input#slideshow {
  display: none; }

/*
	================================
	ClearFix
	================================
*/
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  clear: both;
  *zoom: 1; }

/*
	================================
	Verslun Myndir ├¥etta var aldrei virkt
	================================
*/
.blar-bakrunnur {
  background-color: #3032BF; }

@media screen and (min-width: 72em) {
  .Verslun-Myndir1-2 {
    width: 70%;
    float: left;
    box-sizing: border-box; }

  .Verslun-Myndir2-2 {
    width: 30%;
    float: right;
    text-align: center;
    box-sizing: border-box; } }
/*
	================================
	Verslun Myndir Verslunar bar
	================================
*/
label {
  display: block; }

.inline-label {
  display: inline; }

fieldset {
  border-radius: 10px; }

input {
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
  font-size: 20px;
  outline: none; }

input:valid {
  border: 2px solid green; }

input:invalid {
  border: 2px solid red; }

input[type=submit] {
  display: block;
  margin: auto;
  width: 100px;
  border: 2px solid black; }

textarea {
  height: 200px;
  width: 200px; }

/*
	================================
	LOGO
	================================
*/
.LOGO {
  height: 50px;
  width: 50px; }

/*
	================================
	Flexbox
	================================
*/
.row a {
  border: 1px solid Black;
  border-width: 0 1px 1px 0;
  background: #00087A;
  color: red;
  text-align: center;
  padding: .3em;
  cursor: pointer;
  display: block; }

.row a:hover {
  border: 1px solid Black;
  border-width: 0 1px 1px 0;
  background: red;
  color: #00087A;
  text-align: center;
  padding: .3em; }

/* mobile = 0 to 37.5em */
.row {
  display: flex;
  flex-flow: column;
  position: fixed;
  width: 100vw; }

@media screen and (min-width: 37.5em) {
  .row {
    display: flex;
    flex-flow: row;
    position: fixed;
    width: 100vw; }

  .I-I {
    flex: 1 1 0; }

  .II-I {
    flex: 2 2 1.4em; }

  .III-I {
    flex: 3 3 2.1em; }

  .IV-I {
    flex: 4 4 2.7em; }

  .mobile {
    display: none; } }
.col {
  display: flex;
  flex-flow: column;
  /* Layout */
  border: 1px solid blue;
  border-width: 0 1px 1px 0; }

/*# sourceMappingURL=Stilsida.css.map */
